html, body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 15px;
    font-family:century gothic;
  }
  
  :root{
    --main-dark-violet: #565264;
    --main-light-violet: #706677;
    --main-dark-pink: #a6808c;
    --main-light-brown: #ccb7ar;
    --main-light-gray: #d6cfcb;
  }
  
  div, p, h1, h2, h3, h4, h5, ul, li, a, span{
    margin:0px;
    padding:0px;
  }
  
  .clear{
    clear: both;
  }
  
  #conteneur-id{
    width: 100%;
  }
  
  /*MENU*/
  
  .menu{
    width: 100%;
    background-color: var(--main-dark-pink);
    box-shadow: 2px 2px 12px 2px rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: center;
    position: fixed;
    z-index: 999;
  }
  
  .menu ul{
    width: 100%;
    margin: auto;
    padding: 15px 0px;
    color: black;
    
  }
  
  .menu li{
    display: inline-block;
    padding: 5px;
  }
  
  .menu a{
    text-decoration: none;
    background-color: var(--main-dark-pink);
    transition: 0.4s;
    padding: 5px 60px;
    color: black;
    max-width: 75%;
  }
  
  .menu a:hover{
    text-decoration: none;
    border-bottom: solid;
    color: var(--main-dark-violet)
  }
  
  /*HOME*/
  
  #conteneur-home{
    width: 100%;
    background: url(https://images.unsplash.com/photo-1445452916036-9022dfd33aa8?w=3153) fixed 100% no-repeat;
    background-size: cover;
    padding: 159.5px 0px 100px 0px;
    text-align: center;
  }
  
  .home{
    width: 100%;
  }
  
  .home h1{
    font-weight: 100;
    font-size: 50px;
    color: #EEE;
    padding: 0px 0px 5px 0px;
  }
  
  .home h2 {
    font-weight: 100;
    font-size: 30px;
    color: #DDD;
    text-transform: uppercase;
  }
  
  /*ABOUT*/
  
  #conteneur-about{
    padding:100px 0px;
  }
  .about{
    max-width:960px;
    width:100%;
    margin:auto;
  }
  
  .profil-photo {
   width: 50%;
   float: left;
  }
  
  .profil-photo img{
    width: 60%; 
    /*width:20em;
    height: 22em;*/
  }
  
  .profil-text{
     width:50%;
    float:left;
    position:relative;
    
  }
  
  .profil-text h2{
    padding-bottom: 15px;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
  }
  
  .profil-text p{
    padding-bottom: 75px;
    text-align: justify;
  }
  
  .profil-text a{
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-decoration: none;
    color: black;
    background-color: #DDD;
    transition: 0.4s;
    padding: 5px 25px;
    border: 1px solid white;
  }
  
  .profilr-text a:hover{
    text-decoration: none;
    color: #999;
    border: 1px solid #999;
    background-color: #FFF;
    transition: 0.4s;
  }
  
  /*PORTFOLIO*/
  
  #conteneur-portfolio{
    padding: 0px 0px;
    background-color: var(--main-light-gray);
    box-shadow: 5px 5px 30px #373f51;
  }
  
  .portfolio{
    max-width: 960px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  
  .portfolio h2{
    padding-top: 25px;
    padding-bottom: 50px;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3rem;
  }
  
  .conteneur-portfolio h2{
    padding-bottom: 100px;
    font-size: 80px;
    color: #000;
    text-align: center;
  }
  
  .conteneur-miniature-left{
    box-shadow: 0 0 20px 1px #373f51;
    transition:.4s;
    width: 47.5%;
    margin-right: 2.5%;
    float: left;
  }
  
  .conteneur-miniature-right{
    box-shadow: 0 0 20px 1px #373f51;
    transition:.4s;
    width: 47.5%;
    margin-left: 2.5%;
    float: left;
  }
  
  .miniature-portfolio{
    width: 100%;
    height: 250px;
  }
  
  .oneport{
  background: url(https://i.postimg.cc/X7hMLSqN/Screenshot-2024-03-08-at-16-00-47.png);
  background-size: cover;
  }
  
  .twoport{
    background: url(https://i.postimg.cc/hjM67NNB/Screenshot-2024-03-08-at-16-02-11.png);
   background-size: cover;
  }
  
  .text-miniature{
    padding: 15px 30px 15px 15px;
  }
  
  .text-miniature h3{
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 100;
  }
  
  .link{
    text-decoration: none;
    color: black;
  }
  
  .text-miniature h4{
    font-size: 18px;
    color: #666;
    line-height: 25px;
    font-weight: 100;
  }
  
  .conteneur-miniature-one:hover{
    box-shadow:0 0 20px 1px rgba(0,0,0,0.75);
    transition:.4s;
  }
  
  .btn-show-all{
    font-size: 2rem;
    background-color: #373f51;
    transition: background 0.3s ease-out;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4); 
    margin-top: 1em;
    text-decoration: none;
    color: white;
    margin-left: 45%;
    margin-top: 7%;
    box-shadow:10px 5px 5px gray;
    
  }
  
  .btn{
    display: inline-block;
    padding: 1rem 1rem;
    border-radius: 2px;
    text-align: center;
  }
  /*CONTACT*/
  
  #conteneur-contact{
    padding:100px 0px;
    background: url(https://images.unsplash.com/photo-1445452916036-9022dfd33aa8?w=3153) fixed 100% no-repeat;
    background-size: cover;
    margin-top: 10%;
  }
    
  .contact{
    max-width: 660px;
    width: 100%;
    margin: auto;
    text-align: center;
  }
  
  .contact h2{
   padding-bottom: 50px;
    font-size: 25px;
    font-weight: 100;
    text-transform: uppercase;
    color: #FFF;
  }
  
  .input h3{
    margin-top: 15px;
    margin-bottom: 10px;
    color: #fff;
    font-size: 17px;
    font-weight: 100;
    text-align: left;  
  }
  
  .input textarea{
    margin-bottom: 20px;
  }
  
  input[type="email"], input[type="text"], textarea{
    height: 25px;
    width: 100%;
    padding: 2.5px 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    border-bottom: 1px solid #E3E3E3;
   box-shadow: none;
    box-sizing: border-box;
    border-radius: 0;
    outline: none;
    color: #fff;
  }
  
  
  
  textarea{
    min-height: 150px;
    max-height: 150px;
    max-width:100%;
      min-width:100%;
  }
  
  input[type="submit"]{
    font-size: 17px;
    width: 100%;
    display: inline-block;
    height: 25px;
    padding: 0 30px;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 0px;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.4s;
  }
  
  input[type="submit"]:hover{
    background-color: var(--main-dark-pink);
    color: black;
    text-decoration: none;
    transition: 0.4s;
    box-shadow: 10px 5px 9px gray;
  }
  
  #conteneur-footer{
    padding: 10px 0;
   /* background-color: #000;*/
    color: #fff;
    text-align: center;
  }
  
  .footer a{
    color: #fff;
    text-decoration: none;
    transition: 0.4s;
  }

